<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @event.attendance %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@event.price_in_dollars) %>
</p>

<% if current_user.id == @event.organizer.user_id %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %>
  <button class="contact-button">Contact Attendees</button>
  <div id="contact-form" style="display: none">
    <form class="contact-form" action="/events/<%= @event.id %>/attendee_mail" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>Message Body</label><br/>
      <textarea name="mail_body" cols="40" rows="6" ></textarea><br/>
      <input type="submit" value="Send"><br/>
    </form>
  </div>
<% elsif current_user.attended_event_ids.include? @event.id %>
  <%= link_to 'Not attending?', event_attendee_path(@event, current_user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% elsif @event.attendees.count < @event.attendance %>
  <%= link_to 'Register', new_event_attendee_path(@event) %>
<% else %>
  Full! Join Waitlist?
<% end %>
<br/>
  <%= link_to 'Back', events_path %>
