<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @event.attendance %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Cost in cents:</strong>
  <%= @event.cost_in_cents %>
</p>

<% if current_user.id == @event.organizer.user_id %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% else %>
  Not Going Link
<% end %>
  <%= link_to 'Back', events_path %>
