<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @event.attendance %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Cost in cents:</strong>
  <%= @event.cost_in_cents %>
</p>

<% if current_user.id == @event.organizer.user_id %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %>
  <button class="contact-button">Contact Attendees</button>
  <div id="contact-form" style="display: none">
    <form class="contact-form" action="attendee_mail" method="post">
      <label>Message Body</label><br/>
      <textarea name="mail_body" cols="40" rows="6" ></textarea><br/>
      <input type="submit" value="Send"><br/>
    </form>
  </div>
<% else %>
  <%= link_to 'Not attending?', event_attendee_path(event, current_user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br/>
  <%= link_to 'Back', events_path %>

<script type="text/javascript">
  var contactButton = document.querySelector(".contact-button")

  contactButton.onclick = function() {
    var div = document.getElementById('contact-form');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

</script>
